<table>
  <tbody>
  	<h2>Technical Knowledge</h2>
	<tr>
	    <td><%= f.number_field :score, :style => 'width: 50px' %></td>
	    <td><%= f.number_field :score1, :style => 'width: 50px' %></td>
	    <td><%= f.number_field :score2, :style => 'width: 50px' %></td>
	    <td><%= f.number_field :score3, :style => 'width: 50px' %></td>
	    <td><%= f.number_field :score4, :style => 'width: 50px' %></td>
	    <td><%= f.number_field :score5, :style => 'width: 50px' %></td>
	    <td><%= f.number_field :score6, :style => 'width: 50px' %></td>
	    <td><%= f.number_field :score7, :style => 'width: 50px' %></td>
	    <td><%= f.number_field :score8, :style => 'width: 50px' %></td>
	    <td><%= f.number_field :score9, :style => 'width: 50px' %></td>
	    <td><%= f.number_field :score10, :style => 'width: 50px' %></td>
	    <td><%= f.number_field :score11, :style => 'width: 50px' %></td>
	    <td><%= f.number_field :score12, :style => 'width: 50px' %></td>
	</tr>
</tbody>
</table>