<!DOCTYPE html>
<html>
<head>
  <title>Csip</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => 'layouts/header' %>

<% if user_signed_in? %>
  <div style="float:right" id="navbar-link3"><%= current_user.email %>
  <%# link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'float_right'  %>
  </div>
<% else %>
  <br />
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link', :id => 'navbar-link1' %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link', :id => 'navbar-link2'  %>
<% end %>
<%= yield %>
<%= render :partial => 'layouts/footer' %>
</body>
</html>
